.hs-section {
  width: calc(100vw - 64px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}

.hs-section.mission-section {
  background: transparent;
  position: relative;
  overflow: hidden;
}

/* Mission Section 樣式 */

p {
  font-size: 10rem;
}
